//[] Colors Variables

$blue-100: #1a73e8;
$blue-300: #1a0dab;

$gray-50: #ebebeb;
$gray-100: #dfe1e5;
$gray-250: #70757a;
$gray-300: #5f6368;
$gray-350: #3c4043;
$gray-400: #222222;

$white-100: #ffffff;

$blackAlpha-100: rgba(0, 0, 0, 0.6);
