@use "colors";

// [] Styles Content

.container {
	display: flex;
	flex-direction: row;

	padding-left: 165px;
	padding-right: 70px;

	main {
		flex: 2 1 0;
		padding-right: 35px;
	}

	aside {
		flex: 1 1 0;
		max-width: 460px;
		margin-top: 50px;
		position: relative;
	}
}
